<p>Первый в мире удобный менеджер флеш-карточек. Именно так.</p>

<%= form_tag(random_path, method: "get", class: "form") do %>
  <p><%= select_tag :search, options_from_collection_for_select(Deck.all, "id", "name"), 
                  prompt: "select a field" %></p>
  <p><%= submit_tag "Show Random" %></p>
<% end %>
